---
import CustomImage from '@/components/CustomImage'
import ImageCarousel from '@/components/ImageCarousel'
import CardCarousel from '@/components/CardCarousel'
import StickyHeader from '@/components/StickyHeader'
import BaseLayout from '@/layouts/BaseLayout'

const SITE_TITLE = 'Peregrine'
---

<BaseLayout title={SITE_TITLE}>
	<StickyHeader
		title='Peregrine'
		buyUrl='https://steamcommunity.com/sharedfiles/filedetails/?id=3499419335'
		buyLabel='Subscribe on the Workshop'
		exploreLabel='Tech Specs'
		exploreUrl='#specs'
	/>
	<div>
		<h1 class='title text-6xl font-bold'>{SITE_TITLE}</h1>
		<h2 class='text-3xl font-medium mt-4 mb-10'>A Big Step for Small</h2>
		<CustomImage
			imagePath='/src/assets/images/stormworks/peregrine/hero.jpg'
			altText='A Big Step for Small'
		/>
		<div class='flex justify-center mt-10'>
			<div
				class='w-fit px-4 py-1.5 text-sm rounded-full bg-sky-500 hover:bg-sky-600 text-white font-medium transition-colors'
			>
				<a href='https://steamcommunity.com/sharedfiles/filedetails/?id=3499419335' target='_blank'
					>Subscribe on the Workshop</a
				>
			</div>
		</div>

		<article class='prose prose-xl dark:prose-invert w-full max-w-none mt-8'>
			<h3>For those who <em>Drive</em>.</h3>
			<p>
				When we set out to design Peregrine, we didn't want to just build another truck. Every
				vehicle SentyTek has produced fulfills a purpose in our lineup, and Peregrine's purpose is
				to be the ideal compact and capable truck. Peregrine is purpose-built with that in mind, and
				it's confidently refined. A minimalist pickup that focuses on the essentials: Performance,
				Comfort, and Character.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/peregrine/jump.jpg'
				altText='Peregrine, the ideal compact and capable truck, with a sleek and minimalist design'
			/>

			<h2>Exterior</h2>
			<p>
				Clean lines, smooth lighting, and no nonsense. Peregrine's small profile is accentuated by
				dynamic brake lights that flash under hard braking - compliant with EU/CAN regulations.
				Puddle lights illuminate your path when stepping in, and angled low/ligh beams follow your
				turns, giving the road ahead the spotlight. A 5-wide baseplate on the front and a SentyTek
				Gen 5 Towing Adapter means Peregrine can both tow, and be towed. A equipment-filled bed with
				hardpoints for attachments has the essentials and rope anchors for securing cargo. Peregrine
				has everything you need to drive around Saywer or Aridistan for hours.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/peregrine/rear.jpg'
				altText='Peregrine, the ideal compact and capable truck, with a sleek and minimalist design'
			/>

			<h2>Inside</h2>
			<p>
				The two-seater cabin is tight, minimal, and intentional. A driver-focused dash powered by
				SenCar 5 Lite gives you only what you need when you need it with a spactactularly clean UI,
				and means you keep your eyes where they belong on the road. A built-in radio system means
				you never have to drive alone. Peregrine also features a SenCar 5-compatible engine
				immobilizer, allowing you to lock the car and sound an alarm if anyone attempts to steal
				your car.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/peregrine/int.jpg'
				altText='The interior of Peregrine, featuring a driver-focused dash powered by SenCar 5 Lite'
			/>

			<h2>Power</h2>
			<p>
				At Peregrine's core is a supercharged flat-6 modular engine tuned for both efficiency and
				engagement. Driven by our legendary RECO 3 modular engine control unit (ECU) with it's epic
				stoichiometric control, Peregrine's power curve is buttery smooth, starting off smooth and
				punchy when provoked. A 5-speed automatic transmission (can be switched to Manual in the
				SenCar 5 properties) and a tuned suspension keeps Peregrine agile and athletic on most
				terrain.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/peregrine/bed.jpg'
				altText='The bed of Peregrine, featuring a spacious and functional design for cargo and equipment'
			/>

			<h2>SenCar 5 Lite</h2>
			<p>
				SenCar 5 is the successor to the powerful car operating system, SenTOS Car 4. SenCar 5
				enhances your car with all new personalization features, a brand new UI, and more. SenCar 5
				features a brand new UI, made from scratch, with as little compromises as possible. SenCar 5
				is designed to take over nearly every element of a car. Built on top of the powerful SenOS
				architecture, it is easier than ever to control a car now.
			</p>
			<p>
				SenCar 5 features 7 themes to customize your experience with the car to the max. Custom
				currated colors match each theme perfectly, so that they dont contrast eachother. All of
				these settings can be changed from the microcontroller properties menu.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/peregrine/cool.jpg'
				altText='Peregrine is the perfect truck for simply cruising around Sawyer or Aridistan'
			/>

			<h2>So much more</h2>
			<ul>
				<li>Horn</li>
				<li>Downshift protection</li>
				<li>Shows open doors on dashboard</li>
				<li>Enhanced trip stats</li>
				<li>Low fuel/battery alarms</li>
				<li>Enhanced clutch</li>
				<li>Developer support</li>
				<li>Open source</li>
				<li>More settings</li>
				<li>More "on-the-fly" settings</li>
			</ul>

			<p>
				<a
					href='https://github.com/SentyFunBall/SW-SenCar-5'
					target='_blank'
					rel='noreferrer'
					class='underline text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300'
					>SenCar 5 Source Code & Dev updates</a
				>
			</p>
			<p>
				<a
					href='https://www.youtube.com/watch?v=-_KnjahEiBI'
					target='_blank'
					rel='noreferrer'
					class='underline text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300'
					>Watch the trailer on YouTube</a
				>
			</p>

			<h2 id='specs'>Specs</h2>
			<table>
				<tbody>
					<tr>
						<th>Engine</th>
						<td>6cyl supercharged 1x1</td>
					</tr>
					<tr>
						<th>Transmission</th>
						<td>5 speed AutoManual</td>
					</tr>
					<tr>
						<th>OS</th>
						<td>SenCar 5 Lite with SiBTaT</td>
					</tr>
					<tr>
						<th>ECU</th>
						<td>RECO 3.0</td>
					</tr>
					<tr>
						<th>Top Speed</th>
						<td>110mph/175kph</td>
					</tr>
				</tbody>
			</table>

			<h2>Micros used</h2>
			<ul>
				<li>SenCar v5.2</li>
				<li>Custom SIBTaT Controller</li>
				<li>RECO v3.0</li>
				<li>Custom lighting & braking controllers</li>
			</ul>
		</article>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
