---
import CustomImage from '@/components/CustomImage'
import ImageCarousel from '@/components/ImageCarousel'
import CardCarousel from '@/components/CardCarousel'
import StickyHeader from '@/components/StickyHeader'
import BaseLayout from '@/layouts/BaseLayout'

const SITE_TITLE = 'SentyTek R&D'
---

<BaseLayout title={SITE_TITLE}>
	<div>
		<h1 class='title text-6xl font-bold'>{SITE_TITLE}</h1>
		<h2 class='text-3xl font-medium mt-4 mb-10'>Research & Development</h2>
		<CustomImage
			imagePath='/src/assets/images/stormworks/rnd/hero.jpg'
			altText='Research & Development at SentyTek'
		/>

		<article class='prose prose-xl dark:prose-invert w-full max-w-none mt-8'>
			<p>
				SentyTek's Research & Development division is responsible for pushing the boundaries of
				automotive technology and innovation. Our R&D team is dedicated to creating cutting-edge
				solutions that enhance the driving experience, improve safety, and reduce environmental
				impact. From developing advanced electric powertrains to pioneering autonomous driving
				systems, SentyTek R&D is at the forefront of automotive innovation, shaping the future of
				transportation with groundbreaking technologies and visionary concepts.
			</p>
			<h2 class='text-4xl font-bold'>Our Focus Areas</h2>
			<p>Table of Contents</p>
			<ul>
				<li><a href='#stormrecord'>Flight Data Recorder</a></li>
				<li><a href='#compdebug'>Composite Debugging</a></li>
				<li><a href='#particlesim'>Particle Simulation</a></li>
				<li><a href='#radardriver'>Radar Autopilot</a></li>
				<li><a href='#gpsdriver'>GPS Autopilot</a></li>
			</ul>
			<hr />
			<div id='stormrecord'>
				<h2 class='text-4xl font-bold'>StormRecord - Flight Data Recorder</h2>
				<CustomImage
					imagePath='/src/assets/images/stormworks/rnd/stormrecord.jpg'
					altText="StormRecord, SentyTek's advanced data recorder and exporter for Stormworks."
				/>
				<p>
					StormRecord is SentyTek's state-of-the-art data recorder & exporter. Capable of capturing
					up to 62 unique sensor channels at up to 60hz, StormRecord is the most advanced data
					recorder ever built for Stormworks. It can be used to record and export data from your
					vehicles, allowing you to analyze performance, diagnose issues, and share your data with
					others. With its user-friendly interface and powerful features, StormRecord is a great way
					to record and analyze a Stormworks vehicle.
				</p>
				<h3 class='text-2xl font-bold'>Take a look at one of our customers</h3>
				<p>
					Hoshizora uses StormRecord for recording flight data during tests of their H70 and H200
					aircraft.
				</p>
				<p>
					<em
						>"StormRecord has assisted Hoshizora™ to improve our aircraft, by detailing data points
						that wouldn't otherwise be monitored, allowing us to refine and improve our systems."</em>
				</p>
				<p><em>- Tomato Soup, CEO Hoshizora</em></p>
				<div class='flex justify-center mt-10'>
					<div
						class='w-fit px-4 py-1.5 text-sm rounded-full bg-sky-500 hover:bg-sky-600 text-white font-medium transition-colors'
					>
						<a
							href='https://steamcommunity.com/sharedfiles/filedetails/?id=3220623642'
							target='_blank'>Subscribe on the Workshop</a
						>
					</div>
				</div>
			</div>
			<hr />
			<div id='compdebug'>
				<h2 class='text-4xl font-bold'>Composite Debugging</h2>
				<CustomImage
					imagePath='/src/assets/images/stormworks/rnd/compdebug.jpg'
					altText="SentyTe's Visual Composite Debugger, allowing easy ways to visualize composite logic"
				/>
				<p>
					Visual Composite Debugger is a powerful and popular tool developed by SentyTek to help
					diagnose and solve problems relating to composite logic in Stormworks. It provides a
					visual representation of composite logic, making it easier to understand and debug complex
					systems. With features like real-time monitoring and active channel count, the Visual
					Composite Debugger is an essential tool for any Stormworker in need of debugging their
					composite logic.
				</p>
				<div class='flex justify-center mt-10'>
					<div
						class='w-fit px-4 py-1.5 text-sm rounded-full bg-sky-500 hover:bg-sky-600 text-white font-medium transition-colors'
					>
						<a
							href='https://steamcommunity.com/sharedfiles/filedetails/?id=3624115096'
							target='_blank'>Subscribe on the Workshop</a
						>
					</div>
				</div>
			</div>
			<hr />
			<div id='particlesim'>
				<h2 class='text-4xl font-bold'>Particle Simulation</h2>
				<CustomImage
					imagePath='/src/assets/images/stormworks/rnd/particlesim.jpg'
					altText="SentyTek's Particle Simulator, the best and most fun powder toy in Stormworks"
				/>
				<p>
					The Particle sim is a fun and experimental project developed by SentyTek to simulate
					particles in a Stormworks vehicle. It allows users to create and interact with a variety
					of particles, such as sand, water, and solids, using "realistic" physics. The Particle
					Simulator is a lot of fun to play with ngl.
				</p>
				<div class='flex justify-center mt-10'>
					<div
						class='w-fit px-4 py-1.5 text-sm rounded-full bg-sky-500 hover:bg-sky-600 text-white font-medium transition-colors'
					>
						<a
							href='https://steamcommunity.com/sharedfiles/filedetails/?id=3291427159'
							target='_blank'>Subscribe on the Workshop</a
						>
					</div>
				</div>
			</div>
			<hr />
			<div id='radardriver'>
				<h2 class='text-4xl font-bold'>Radar Autopilot</h2>
				<CustomImage
					imagePath='/src/assets/images/stormworks/rnd/radar.jpg'
					altText="SentyTek's Radar Autopilot, a radar driven autopilot used to follow vehicles safely and efficiently."
				/>
				<p>
					The Radar Autopilot is an advanced autopilot system developed by SentyTek that uses radar
					technology to navigate and follow other vehicles in Stormworks. It provides a safe and
					efficient way to follow other vehicles, making it ideal for convoys, caravans, and
					parties. Used by almost 6 unique cars such as the <em>Aita</em> and <em
						>Excalibur Lavente</em
					>, Radar Autopilot is loved by everyone who uses it.
				</p>
			</div>
			<hr />
			<div id='gpsdriver'>
				<h2 class='text-4xl font-bold'>GPS Autopilot</h2>
				<CustomImage
					imagePath='/src/assets/images/stormworks/rnd/fsd.jpg'
					altText="SentyTek's GPS Autopilot, a GPS driven autopilot used to navigate to waypoints and follow routes."
				/>
				<p>
					SentyTek's GPS Autopilot is a highly experimental and state-of-the-art autopilot system
					that uses a detailed GPS navigation system to follow routes and navigate to waypoints in
					Stormworks. It is designed to be the safest and easiest way to cross the world of
					Stormworks, and its ease of use makes it ideal on long trips. GPS Autopilot is still in a
					heavy testing phase, and may not be available for public use for a while, but we're
					excited to see how it develops in the future.
				</p>
			</div>
			<hr />
			<p>
				There are always many more projects in development at SentyTek R&D, and we're always working
				on new and exciting technologies to enhance the Stormworks experience. Stay tuned for more
				updates and releases from SentyTek R&D!
			</p>
		</article>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
