---
import CustomImage from '@/components/CustomImage'
import ImageCarousel from '@/components/ImageCarousel'
import CardCarousel from '@/components/CardCarousel'
import StickyHeader from '@/components/StickyHeader'
import BaseLayout from '@/layouts/BaseLayout'

const SITE_TITLE = 'SentyTek Theater'
---

<BaseLayout title={SITE_TITLE}>
	<div>
		<h1 class='title text-6xl font-bold'>{SITE_TITLE}</h1>
		<h2 class='text-3xl font-medium mt-4 mb-10'>Experiencing SentyTek, Live on Stage</h2>
		<CustomImage
			imagePath='/src/assets/images/stormworks/theater/wide.jpg'
			altText='The SentyTek Theater auditorium, with a stage, a large screen, and rows of seats.'
		/>

		<article class='prose prose-xl dark:prose-invert w-full max-w-none mt-8'>
			<h2 class='text-4xl font-bold'>Watch events filmed live at the SentyTek Theater</h2>
			<CardCarousel>
				<div class='rounded-3xl bg-gray-300 dark:bg-gray-800 p-8 text-center'>
					<iframe width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/Gk6iMfb5oks'
					></iframe>
					<a
						href='https://www.youtube.com/watch?v=Gk6iMfb5oks'
						target='_blank'
						class='text-sm text-gray-500 dark:text-gray-400 mt-2 block'>Watch on YouTube</a
					>
				</div>
				<div class='rounded-3xl bg-gray-300 dark:bg-gray-800 p-8 text-center'>
					<iframe width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/iCXTmeNS3sg'
					></iframe>
					<a
						href='https://www.youtube.com/watch?v=iCXTmeNS3sg'
						target='_blank'
						class='text-sm text-gray-500 dark:text-gray-400 mt-2 block'>Watch on YouTube</a
					>
				</div>
				<div class='rounded-3xl bg-gray-300 dark:bg-gray-800 p-8 text-center'>
					<iframe width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/987UztonLOQ'
					></iframe>
					<a
						href='https://www.youtube.com/watch?v=987UztonLOQ'
						target='_blank'
						class='text-sm text-gray-500 dark:text-gray-400 mt-2 block'>Watch on YouTube</a
					>
				</div>
				<div class='rounded-3xl bg-gray-300 dark:bg-gray-800 p-8 text-center'>
					<iframe width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/dSE-pHZimCU'
					></iframe>
					<a
						href='https://www.youtube.com/watch?v=dSE-pHZimCU'
						target='_blank'
						class='text-sm text-gray-500 dark:text-gray-400 mt-2 block'>Watch on YouTube</a
					>
				</div>
			</CardCarousel>
			<hr />
			<p>
				The SentyTek Theater is a one-of-a-kind venue built by SentyTek Engineering for the purpose
				of showcasing our vehicles, software, and other products in an immersive, live setting.
				Located in the gorgeous northwest plains of the Sawyer Islands, the theater features a
				state-of-the-art stage, a massive screen for presentations and demonstrations, and
				comfortable seating for our guests. We use the theater to host product launches, live demos,
				and special events where attendees can experience SentyTek innovations up close and
				personal. It's a place where we bring our technology to life and share it with the world in
				a way that's engaging and unforgettable.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/lobby.jpg'
				altText='The lobby of the SentyTek Theater, with a grand entrance and welcoming ambiance.'
			/>
			<p>
				When you first step into the SentyTek Theater, you're greeted by a grand lobby that sets the
				tone for the experience. The lobby features sleek, modern design elements that reflect the
				cutting-edge technology of SentyTek. It's a space where guests can mingle, enjoy
				refreshments, and complain about not doing the event already.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/audience.jpg'
				altText='The seating area in the SentyTek Theater.'
			/>
			<p>
				The seating area of the SentyTek Theater is designed for comfort and optimal viewing. With
				rows of plush seats arranged in a way that ensures everyone has a great view of the stage
				and screen, it's the perfect setting for experiencing our product demonstrations and
				presentations. Whether you're watching a live demo of our latest vehicle or attending a
				special event, the theater provides an immersive environment that enhances the experience.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/door.jpg'
				altText='The large moving screen door in the stage'
			/>
			<p>
				The crown jewel of the SentyTek Theater is the 7 meter tall rotating screen door on the
				stage. This massive door serves as both a dramatic entrance for our vehicles during
				demonstrations and a dynamic display surface for showcasing our technology. The screen can
				rotate upwards to reveal the backstage for vehicles to drive in and out.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/mini-door.jpg'
				altText='The smaller door on the stage for smaller demonstrations.'
			/>
			<p>
				In addition to the main rotating screen door, the SentyTek Theater also features a smaller
				door on the stage. This door is used for more intimate demonstrations and presentations,
				allowing us to showcase smaller products and technologies in a more focused setting. It's a
				versatile space that complements the grandeur of the main stage while providing a more
				personal experience for our guests.
			</p>
			<hr />
			<h2 class='text-4xl font-bold'>The Technology at the Theater</h2>
			<p>
				In addition to the massive screen door and incredible dynamic lighting systems, the Theater
				has even more technology that powers events.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/tech.jpg'
				altText='The tech booth behind the auditorium, with various equipment and controls for managing the theater experience.'
			/>
			<p>
				The SentyTek Theater is equipped with state-of-the-art technology to ensure that every event
				runs smoothly and delivers an unforgettable experience. From advanced lighting to three
				high-resolution screens, the theater is designed to showcase our products in the best
				possible way. The tech booth, located behind the auditorium, is staffed by a team of skilled
				technicians who manage the various aspects of the theater experience, including lighting,
				sound, and special effects. This allows us to create dynamic and engaging presentations that
				captivate our audience and highlight the innovative features of our products.
			</p>
			<CustomImage
				imagePath='/src/assets/images/stormworks/theater/stage-view.jpg'
				altText='The view from the stage of the SentyTek Theater, looking out at the audience and the tech booth.'
			/>
			<p>
				From the stage, presenters have a clear view of the audience and the tech booth, allowing
				for seamless communication and coordination during events. The presenter has powerful
				controls for the stage displays, being able to mirror screens or set any to various camera
				feeds, creating a more dynamic and immersive experience for the audience.
			</p>
		</article>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
