---
import { siteConfig } from '@/data/site.config'
import BlueskyColorIcon from './icons/IconColorBluesky.astro'
import CopyIcon from './icons/CopyIcon.astro'
const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Share</span>
	<ul class='flex gap-3 text-black dark:text-white'>
		<li>
			<a
				class='transition-colors hover:text-gray-700 dark:hover:text-gray-300 active:text-gray-900 dark:active:text-gray-100'
				href={`https://bsky.app/intent/post?text=${encodeURIComponent(message + ' ' + URL)}`}
				aria-label='Share on BlueSky'><BlueskyColorIcon /></a
			>
		</li>
		<li>
			<button
				type='button'
				id='copy-link-btn'
				aria-label='Copy Link'
				class='transition-colors hover:text-gray-700 dark:hover:text-gray-300 active:text-gray-900 dark:active:text-gray-100'
				><CopyIcon />
			</button>
		</li>
	</ul>
</div>
