---
import CustomImage from '@/components/CustomImage'
import ImageCarousel from '@/components/ImageCarousel'
import CardCarousel from '@/components/CardCarousel'
import StickyHeader from '@/components/StickyHeader'
import BaseLayout from '@/layouts/BaseLayout'

const SITE_TITLE = 'SenConnect'
---

<BaseLayout title={SITE_TITLE}>
	<div>
		<h1 class='title text-6xl font-bold'>{SITE_TITLE}</h1>
		<h2 class='text-3xl font-medium mt-4 mb-10'>Connected. Always. Do not worry.</h2>
		<CustomImage
			imagePath='/src/assets/images/software/senconnect/hero.jpg'
			altText='SenConnect, the old SentyTek connectivity solution.'
		/>

		<article class='prose prose-xl dark:prose-invert w-full max-w-none mt-8'>
			<h2 class='text-4xl font-bold'>Connected Parties Made Easy</h2>
			<p>
				SenConnect simplifies the way you stay connected with other drivers. SenConnect can display
				the position of other SentyTek vehicles on the dashboard map, giving a social aspect to
				driving. You can see where your friends are, coordinate meetups, and even share your
				location for safety purposes.
			</p>
			<CustomImage
				imagePath='/src/assets/images/software/senconnect/cars.jpg'
				altText='The map showing nearby SentyTek vehicles.'
			/>
			<p>
				Whether you're cruising with friends or just want to see who's out there, SenConnect makes
				it easy to stay connected on the road. It's a simple way to add a little more fun and
				connection to your drives. It's even possible to have private parties and secure codes.
			</p>
		</article>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
