---
import CustomImage from '@/components/CustomImage'
import ImageCarousel from '@/components/ImageCarousel'
import CardCarousel from '@/components/CardCarousel'
import StickyHeader from '@/components/StickyHeader'
import BaseLayout from '@/layouts/BaseLayout'

const SITE_TITLE = 'SenUI'
---

<BaseLayout title={SITE_TITLE}>
	<div>
		<h1 class='title text-6xl font-bold'>{SITE_TITLE}</h1>
		<h2 class='text-3xl font-medium mt-4 mb-10'>A Revolutionary new UI framework for Stormworks</h2>
		<video width='100%' height='auto' autoplay muted loop>
			<source src='/videos/senui/1.mp4' type='video/mp4' />
			Your browser does not support the video tag.
		</video>
		<p class='text-center text-sm text-gray-500 dark:text-gray-400 mb-10 mt-5'>
			SenUI Demo, with several lights and a sliding gradient.
		</p>
		<article class='prose prose-xl dark:prose-invert w-full max-w-none mt-8'>
			<div class='flex justify-center mt-10'>
				<div
					class='w-fit px-4 py-1.5 text-sm rounded-full bg-sky-500 hover:bg-sky-600 text-white font-medium transition-colors'
				>
					<a href='https://github.com/SentyFunBall/senui' target='_blank'>View on GitHub</a>
				</div>
			</div>
			<h2 class='text-4xl font-bold'>A New Era of User Interfaces</h2>
			<p>
				SenUI is a lightweight, simple and easy to use object-oriented (If you don't know what that
				means, don't worry about it) UI library and framework designed to make creating
				sophisticated and interactive displays with complex elements significantly easier in
				Stormworks Lua. Instead of having to manually draw every screen component with <code
					><span style='color:rgb(255, 216, 110);'>screen.</span><span
						style='color:rgb(100, 211, 245);'>draw*</span
					></code
				>, SenUI makes this incredibly easy with just a handful of lines of object-oriented code.
				SenUI empowers you to create clean, responsive, and consistent UIs while keeping your code
				readable and small.
			</p>
			<p>
				SenUI features several impressive UI elements at first, Push buttons, Toggle switches, and
				Dropdown menus, with Sliders, Checkboxes, Progress bars, Animations, and more planned. SenUI
				is powerful and efficient, drawing as few shapes to the screen as possible to maintain
				incredibly high performance with complex displays.
			</p>
		</article>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
